<!DOCTYPE html>
<html>
  <head>
  <!--   <link rel="icon" type="image/png" href="/assets/images/hot.png" sizes="16x16"> -->
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/146/thermometer_1f321.png">

    <title>Heatwaver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
